<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Timeline</h2>
                    <h3 class="section-subheading text-muted">Experience & Education</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <figure><img class="img-circle img-responsive" src="img/about/1.jpg" alt=""></figure>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March'20 - Present</h4>
                                    <h4 class="subheading">Samsung R&D Institute, Delhi</h4>
                                </div>

                                <div class="timeline-body">
                                    <p class="text-muted">Designation: <b>Lead Engineer</b></p>
                                    <ul class="text-muted">
                                      <li>Working on a <b>Conversational Agent (AI Chatbot)</b> for Samsung Customer Support.
                                        <ul style="padding-left: 10px;">
                                          <li>Developed a robust <b>Telephony ASR System</b> for a voice-enabled bot for Samsung Customer Support.</li>
                                          <li>Worked on a <b>Text Detection and Recognition module</b> for extracting information such as model, serial numbers from Samsung product sticker images.</li>
                                        </ul>
                                      </li>
                                      <li class="extra show-less">Worked on an <b>Abstractive Summarisation</b> module for customer-live agent chat conversations.</li>
                                      <li><b>Content Moderation:</b> Worked on an audio moderation service on TV by censoring profanity in subtitles and audio for family/kids viewing.</li>
                                    </ul>
                                </div>
                                <div class="show-more">(Show More)</div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <figure><img class="img-circle img-responsive" src="img/about/1.jpg" alt=""></figure>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July'16 - March'20</h4>
                                    <h4 class="subheading">Samsung R&D Institute, Delhi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Designation: <b>Engineer</b></p>
                                    <ul class="text-muted">
                                      <li>Worked on a <b>Conversational Agent (AI Chatbot)</b> for Samsung Customer Support.
                                        <ul style="padding-left: 10px;">
                                          <li>Developed a <b>language detector and a translator</b> to translate Hinglish/Hindi queries to English for regional language support.</li>
                                          <li class="extra show-less">Worked on creating an algorithm for <b>spell correction</b> of misspelled English words in the customer's queries.</li>
                                          <li>Developed a zero shot learning based <b>New Intent Detector</b> to automatically segregate out class queries.</li>
                                        </ul>
                                      </li>

                                      <li>Magicinfo Express Author
                                        <ul style="padding-left: 10px;">
                                          <li class="extra show-less">Worked on <b>Advanced AdClip</b> application for creating customized advertisement videos.</li>
                                          <li class="extra show-less">Developed text and filter effects using OpenGL and OpenCV.</li>
                                          <li>Developed the <b>Preview Video feature</b> allowing the user to preview the video before it is created and saved. Supported on both iOS and Android platform.</li>
                                        </ul>
                                      </li>
                                    </ul>
                                </div>
                                <div class="show-more">(Show More)</div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <figure><img class="img-circle img-responsive" src="img/about/2.jpeg" alt=""></figure>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May'15 - July'15</h4>
                                    <h4 class="subheading">Institute of Development and Research in Banking Technology</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Project Trainee, Hyderabad</p>
									                  <p class="text-muted">Developed an <b>efficient fingerprint indexing</b> technique using dynamic clustering for index key generation and m-ary trees for retrieval under Dr MVNK Prasad(Assoc Prof.)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <figure><img class="img-circle img-responsive" src="img/about/3.png" alt=""></figure>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May'14 - July'14</h4>
                                    <h4 class="subheading">Indian Institute of Technology, Bombay</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Project Trainee</p>
                                    <p class="text-muted">Research intern flters CST studio suite</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <figure><img class="img-circle img-responsive" src="img/about/4.png" alt=""></figure>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August'12 - May'16</h4>
                                    <h4 class="subheading">Indian Institute of Technology, Guwahati</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bachelor of Technology (B.Tech.)</p>
                                    <p class="text-muted">Electrical and Electronics Engineering</p>
                                    <p class="text-muted">CGPA: 8.39</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <figure><img class="img-circle img-responsive" src="img/about/5.jpeg" alt=""></figure>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010 - 2012</h4>
                                    <h4 class="subheading">Maharani Gayatri Devi Girls’ School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Senior Secondary School(XII)</p>
                                    <ul class="text-muted">
                                      <li>Extra Co-Curricular
                                        <ul style="padding-left: 10px;">
                                          <li class="extra show-less">Qualified for Scholarship for Higher Education (SHE-2012).</li>
                                          <li class="extra show-less">Certificate of Merit in Physics (AISSCE-2012).</li>
                                          <li>Top 10% in National Standard Examinationin Physics(2011-12)</li>
                                          <li>INSPIRE Internship Camp (2011).</li>
                                        </ul>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <figure><img class="img-circle img-responsive" src="img/about/5.jpeg" alt=""></figure>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Before 2010</h4>
                                    <h4 class="subheading">Maharani Gayatri Devi Girls’ School</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Secondary School (X)</p>
                                    <p class="text-muted">Certificate of Merit (AISSE-2010)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <h4>Bébut de
                                    <br>mon
                                    <br>Voyage!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
