<div class="history">
  <div class="cd-timeline-header">
    <h2 id="Experenice">Timeline</h2>
    <hr class="bar"/>
  </div>
  <section id="cd-timeline" class="cd-container">
    <!-- cd-timeline-block-->
    <div class="cd-timeline-block">
      <!-- cd-timeline-img-->
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/college.svg" alt="Picture"/>
      </div>
      <!-- cd-timeline-content-->
      <div class="cd-timeline-content">
        <h2 class="story-heading">Maharani Gayatri Devi Girls' School</h2>
        <P>X and XII</P>
        <span class="cd-date">2000-2012</span>
      </div>
    </div>
    <!-- cd-timeline-block-->
    <div class="cd-timeline-block">
      <!-- cd-timeline-img-->
      <div class="cd-timeline-img cd-movie">
        <img src="../assets/img/graduate38.svg" alt="College"/>
      </div>
      <!-- cd-timeline-content-->
      <div class="cd-timeline-content">
        <h2>Indian Institue of Technology, Guwahati</h2>
        <p>B.Tech. EEE</p>
        <span class="cd-date">2012-2016</span>
      </div>
    </div>
    <!-- cd-timeline-block-->
    <div class="cd-timeline-block">
      <!-- cd-timeline-img-->
      <div class="cd-timeline-img cd-picture">
        <img src="../assets/img/research.svg" alt="Picture"/>
      </div>
      <!-- cd-timeline-content-->
      <div class="cd-timeline-content">
        <h2>Indian Institue of Technology, Bombay</h2>
        <p>Research intern flters cst studio suite</p>
        <span class="cd-date">May 2014 - July 2014</span>
      </div>
    </div>
    <!-- cd-timeline-block-->
    <div class="cd-timeline-block">
      <!-- cd-timeline-img-->
      <div class="cd-timeline-img cd-location">
        <img src="../assets/img/graduate38.png" alt="Location"/>
      </div>
      <!-- cd-timeline-content-->
      <div class="cd-timeline-content">
        <h2>Institute of Development and Research in Banking Technology</h2>
        <p>Project trainee fingerprint indexing </p>
        <span class="cd-date">May 2015 - July 2015</span>
      </div>
    </div>
    <!-- cd-timeline-content-->
    <div class="cd-timeline-block">
      <!-- cd-timeline-img-->
      <div class="cd-timeline-img cd-location">
        <img src="../assets/img/web-programming.svg" alt="Location"/>
      </div>
      <div class="cd-timeline-content">
        <h2>Samsung Research Institute, Delhi</h2>
        <p>Software Engineer android ios</p>
        <span class="cd-date">July 2016 - Current</span>
      </div>
      <!-- cd-timeline-block-->
      <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
          <img src="../assets/img/question30.svg" alt="Location"/>
        </div>
      </div>
      <!-- cd-timeline-->
    </div>
  </section>
  <div class="cd-timeline-header">
    <h2></h2>
  </div></div>
